<h1>Which seed?</h1>
<br>
<br>
<div>
  <%= form_tag(seeds_path, method: "get", id: "search-form") do %>

    <div class="row">
      <div class="medium-12 columns">
        <label>Soil Type
          <select id="soil-type" class="cascade" name="q[soil_type_id]">
          </select>
        </label>
      </div>

      <div class="medium-12 columns">
        <label>Annual Precipitation (inches)
          <select id="salt-tolerance" class="cascade" name="q[salt_tolerance_id]">
          </select>
        </label>
      </div>

      <div class="medium-12 columns">
        <label>Salt Tolerance
          <select id="annual-precipitation" class="cascade"  name="q[annual_precipitation_id]">
          </select>
        </label>
      </div>
    </div>

    <br>
    <br>
    <br>
    <div class="actions">
      <%= submit_tag('Search', :class => "button large", :name => nil) %>
    </div>
  <% end %>

  <!-- <% if @results.present? %>
    <%= render @results %>
  <% end %> -->
</div>
