<p id="notice"><%= notice %></p>

<p>
  <strong>Level:</strong>
  <%= @salt_tolerance.level %>
</p>

<%= link_to 'Edit', edit_salt_tolerance_path(@salt_tolerance) %> |
<%= link_to 'Back', salt_tolerances_path %>
