<p id="notice"><%= notice %></p>

<p>
  <strong>Level:</strong>
  <%= @saline_sodic_soil_tolerance.level %>
</p>

<%= link_to 'Edit', edit_saline_sodic_soil_tolerance_path(@saline_sodic_soil_tolerance) %> |
<%= link_to 'Back', saline_sodic_soil_tolerances_path %>
